body {
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 35px;
  margin-top: 0;
  letter-spacing: 8px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
}
